# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Eier\Desktop\Skole\Høst2020\Algoritmer og datastrukturer\Oblig 1 - AlgDat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
